[Desktop Entry]
Name=Lutris (Beta Drivers)
Comment=Video Game Preservation Platform
Categories=Game;
Keywords=gaming;wine;emulator;
Exec=env FLATPAK_GL_DRIVERS=mesa-git /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=lutris --file-forwarding net.lutris.Lutris @@u %U @@
Icon=net.lutris.Lutris
Terminal=false
Type=Application
MimeType=x-scheme-handler/lutris;
X-GNOME-UsesNotifications=true
X-Desktop-File-Install-Version=0.26
X-Flatpak-RenamedFrom=lutris.desktop;
X-Flatpak=net.lutris.Lutris